body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #e4f9f5;
  border: 10px solid;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.middle-container {
  background-color: #30e3ca;
  border: 20px solid;
  height: 200px;
  width: 200px;
  margin-left: 260px;
}

.bottom-container {
  background-color: #11999e;
  border: 10px solid;
  height: 200px;
  width: 200px;
  margin-left: 500px;
}
